In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('data\Mens-Volleyball-PlusLiga-2008-2023.csv')

In [4]:
df.head()

,Date,Team_1,Team_2,T1_Score,T2_Score,T1_Sum,T1_BP,T1_Ratio,T1_Srv_Sum,T1_Srv_Err,...,T2_Rec_Perf,T2_Att_Sum,T2_Att_Err,T2_Att_Blk,T2_Att_Kill,T2_Att_Kill_Perc,T2_Att_Eff,T2_Blk_Sum,T2_Blk_As,Winner
0,"01.10.2022, 14:45",AZS Olsztyn,ZAKSA Kędzierzyn-Koźle,1,3,60.0,17.0,11.0,79.0,18,...,26%,88,7,7,45,51%,35%,14,11,1
1,"30.09.2022, 17:30",Jastrzębski Węgiel,GKS Katowice,3,0,51.0,17.0,27.0,77.0,15,...,20%,91,8,4,43,47%,34%,1,17,0
2,"01.10.2022, 20:30",LUK Lublin,Czarni Radom,2,3,76.0,23.0,35.0,109.0,16,...,18%,128,10,10,63,49%,33%,10,13,1
3,"02.10.2022, 14:45",Warta Zawiercie,PGE Skra Bełchatów,3,2,66.0,16.0,22.0,98.0,21,...,9%,102,9,9,56,54%,37%,7,14,0
4,"03.10.2022, 17:30",BBTS Bielsko-Biała,Cuprum Lubin,1,3,63.0,22.0,17.0,100.0,19,...,22%,109,7,8,58,53%,39%,10,10,1

In [12]:
df.dtypes

Date                datetime64[ns]
Team_1                      object
Team_2                      object
T1_Score                     int64
T2_Score                     int64
T1_Sum                     float64
T1_BP                      float64
T1_Ratio                   float64
T1_Srv_Sum                 float64
T1_Srv_Err                 float64
T1_Srv_Ace                 float64
T1_Srv_Eff                   int64
T1_Rec_Sum                 float64
T1_Rec_Err                 float64
T1_Rec_Pos                   int64
T1_Rec_Perf                  int64
T1_Att_Sum                   int64
T1_Att_Err                 float64
T1_Att_Blk                 float64
T1_Att_Kill                float64
T1_Att_Kill_Perc             int64
T1_Att_Eff                   int64
T1_Blk_Sum                 float64
T1_Blk_As                  float64
T2_Sum                       int64
T2_BP                        int64
T2_Ratio                     int64
T2_Srv_Sum                   int64
T2_Srv_Err                 float64
T2_Srv_Ace                   int64
T2_Srv_Eff                   int64
T2_Rec_Sum                   int64
T2_Rec_Err                   int64
T2_Rec_Pos                   int64
T2_Rec_Perf                  int64
T2_Att_Sum                   int64
T2_Att_Err                   int64
T2_Att_Blk                   int64
T2_Att_Kill                  int64
T2_Att_Kill_Perc             int64
T2_Att_Eff                   int64
T2_Blk_Sum                   int64
T2_Blk_As                  float64
Winner                       int64
dtype: object

In [6]:
# Fix percentage columns
perc_cols = ['T1_Srv_Eff', 'T1_Rec_Pos', 'T1_Rec_Perf', 'T1_Att_Kill_Perc', 'T1_Att_Eff', 'T1_Att_Sum', 'T2_Srv_Eff', 'T2_Rec_Pos', 'T2_Rec_Perf', 'T2_Att_Kill_Perc', 'T2_Att_Eff', 'T2_Att_Sum']
for col in perc_cols:
    df[col] = pd.to_numeric(df[col].str.replace('%', ''))

In [7]:
# Fix Date column to be datetime
df['Date'] = pd.to_datetime(df['Date'], format='%d.%m.%Y, %H:%M')

In [10]:
# Fix values where decimals are represented with , instead of .
float_cols = ['T1_Srv_Err', 'T1_Blk_As', 'T2_Srv_Err', 'T2_Blk_As']
for col in float_cols:
    df[col] = pd.to_numeric(df[col].str.replace(',', '.'))

In [11]:
df

,Date,Team_1,Team_2,T1_Score,T2_Score,T1_Sum,T1_BP,T1_Ratio,T1_Srv_Sum,T1_Srv_Err,...,T2_Rec_Perf,T2_Att_Sum,T2_Att_Err,T2_Att_Blk,T2_Att_Kill,T2_Att_Kill_Perc,T2_Att_Eff,T2_Blk_Sum,T2_Blk_As,Winner
0,2022-10-01 14:45:00,AZS Olsztyn,ZAKSA Kędzierzyn-Koźle,1,3,60.0,17.0,11.0,79.0,18.00,...,26,88,7,7,45,51,35,14,11.00,1
1,2022-09-30 17:30:00,Jastrzębski Węgiel,GKS Katowice,3,0,51.0,17.0,27.0,77.0,15.00,...,20,91,8,4,43,47,34,1,17.00,0
2,2022-10-01 20:30:00,LUK Lublin,Czarni Radom,2,3,76.0,23.0,35.0,109.0,16.00,...,18,128,10,10,63,49,33,10,13.00,1
3,2022-10-02 14:45:00,Warta Zawiercie,PGE Skra Bełchatów,3,2,66.0,16.0,22.0,98.0,21.00,...,9,102,9,9,56,54,37,7,14.00,0
4,2022-10-03 17:30:00,BBTS Bielsko-Biała,Cuprum Lubin,1,3,63.0,22.0,17.0,100.0,19.00,...,22,109,7,8,58,53,39,10,10.00,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2634,2010-03-20 17:00:00,Pamapol Wielton Wieluń,AZS Częstochowa,3,0,50.0,74.0,6.0,11.0,2.00,...,26,43,70,9,9,27,39,7,2.33,0
2635,2010-03-19 18:00:00,ZAKSA Kędzierzyn-Koźle,AZS Olsztyn,3,0,54.0,74.0,4.0,11.0,1.33,...,14,22,80,10,9,28,35,9,3.00,0
2636,2010-03-20 17:00:00,PGE Skra Bełchatów,Jadar Radom,3,0,54.0,75.0,5.0,12.0,1.67,...,11,17,66,7,8,35,53,5,1.67,0
2637,2010-03-20 17:00:00,Asseco Resovia,Projekt Warszawa,3,0,55.0,73.0,8.0,6.0,2.67,...,16,23,82,8,6,31,38,6,2.00,0
2638,2010-03-20 14:45:00,Chemik Bydgoszcz,Jastrzębski Węgiel,0,3,43.0,64.0,1.0,12.0,0.33,...,26,50,73,7,1,42,58,7,2.33,1

In [14]:
print(df['Winner'].value_counts(normalize=True))

Winner
0    0.542251
1    0.457749
Name: proportion, dtype: float64

T1_win                False       True      diff
T1_Att_Eff        40.416391  49.044724  8.628333
T1_BP             66.688742  74.193571  7.504829
T1_Sum            58.283940  64.652690  6.368750
T1_Ratio           7.883278  12.262055  4.378776
T1_Att_Kill_Perc  46.203642  49.684836  3.481193
T1_Rec_Pos        48.170530  50.998602  2.828073
T1_Score           0.907285   3.000000  2.092715
T1_Blk_Sum         7.927980   9.894479  1.966499
T1_Blk_As          3.775455   4.453836  0.678381
T1_Srv_Eff         1.988411   2.158630  0.170220

# Feature Engineering

In [17]:
# Computing % of points gained from blocking
df['T1_Blk_Perc'] = df['T1_Blk_Sum']/df['T1_Sum']
df['T2_Blk_Perc'] = df['T2_Blk_Sum']/df['T2_Sum']

In [21]:
for team in ['T1', 'T2']:
    # Computing % of points gained from blocking
    df[f'{team}_Blk_Perc'] = df[f'{team}_Blk_Sum']/df[f'{team}_Sum']

    # Computing % of aces from serves
    df[f'{team}_Srv_Ace_Rate'] = df[f'{team}_Srv_Ace'] / df[f'{team}_Srv_Sum']

    # Computing attack error rate
    df[f'{team}_Att_Err_Rate'] = df[f'{team}_Att_Err'] / df[f'{team}_Att_Sum']

    # Computing reception error rate
    df[f'{team}_Rec_Err_Rate'] = df[f'{team}_Rec_Err'] / df[f'{team}_Rec_Sum']

    # Computing overall score, average of serve, attack, and reception efficiency
    df[f'{team}_Overall_Score'] = (df[f'{team}_Srv_Eff'] + df[f'{team}_Att_Eff'] + df[f'{team}_Rec_Perf']) / 3

Additionally, my prior volleyball experience and training put a heavy emphasis on defense- as long as the ball doesn't hit the ground, there's always an opportunity to score. \
Because of this, I will also be creating a Defense Overall Score feature, which takes features regarding serve reception and blocking (unfortunately, the dataset lacks information regarding digs) \

TO DO: standardize Blk_As and and Att_Blk AND INCLUDE THAT INTO DEF SCORE

In [ ]:
# Standardizing non-percent stats
min_val = min(df['T1_Blk_As'].min(), df['T2_Blk_As'].min())
max_val = max(df['T1_Blk_As'].max(), df['T2_Blk_As'].max())
df['T1_Blk_As_norm'] = (df['T1_Blk_As'] - min_val) / (max_val - min_val)

min_val = min(df['T1_Att_Blk'].min(), df['T2_Att_Blk'].min())
max_val = max(df['T1_Att_Blk'].max(), df['T2_Att_Blk'].max())
df['T1_Att_Blk_norm'] = (df['T1_Att_Blk'] - min_val) / (max_val - min_val)

df['T1_Def_Score'] = (
    df['T1_Rec_Perf'] * 0.4 # Good serve reception is key to the start of any point
    - df['T1_Rec_Err_Rate'] * 0.2 # Serve reception errors hurt
    + df['T1_Blk_Perc'] * 0.3 # Strong blocking is integral to strong defense
    + df['T1_Blk_As_norm'] * 0.1 # Counterattack-enabling blocks often convert to points
)

# Team 2 Defense Score
df['T2_Def_Score'] = (
    df['T2_Rec_Perf'] * 0.4
    - df['T2_Rec_Err'] * 0.2
    + df['T2_Blk_Sum'] * 0.3
    + df['T2_Blk_As'] * 0.1
)

Index(['Date', 'Team_1', 'Team_2', 'T1_Score', 'T2_Score', 'T1_Sum', 'T1_BP',
       'T1_Ratio', 'T1_Srv_Sum', 'T1_Srv_Err', 'T1_Srv_Ace', 'T1_Srv_Eff',
       'T1_Rec_Sum', 'T1_Rec_Err', 'T1_Rec_Pos', 'T1_Rec_Perf', 'T1_Att_Sum',
       'T1_Att_Err', 'T1_Att_Blk', 'T1_Att_Kill', 'T1_Att_Kill_Perc',
       'T1_Att_Eff', 'T1_Blk_Sum', 'T1_Blk_As', 'T2_Sum', 'T2_BP', 'T2_Ratio',
       'T2_Srv_Sum', 'T2_Srv_Err', 'T2_Srv_Ace', 'T2_Srv_Eff', 'T2_Rec_Sum',
       'T2_Rec_Err', 'T2_Rec_Pos', 'T2_Rec_Perf', 'T2_Att_Sum', 'T2_Att_Err',
       'T2_Att_Blk', 'T2_Att_Kill', 'T2_Att_Kill_Perc', 'T2_Att_Eff',
       'T2_Blk_Sum', 'T2_Blk_As', 'Winner', 'T1_Blk_Perc', 'T2_Blk_Perc',
       'T1_Srv_Ace_Rate', 'T1_Att_Err_Rate', 'T1_Rec_Err_Rate',
       'T1_Overall_Score', 'T2_Srv_Ace_Rate', 'T2_Att_Err_Rate',
       'T2_Rec_Err_Rate', 'T2_Overall_Score'],
      dtype='object')